<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<div id='pins' class="transitions-enabled" data-masonry='{ "itemSelector": ".grid-item", "isFitWidth": true }'>

<% @pins.each do |pin| %>
  
  
    <div class="grid-item">
      
      <div class="panel panel-default">
        <%= link_to image_tag(pin.image.url(:medium)), pin %><br/>
        <div class="panel-body">
          <%= pin.description %><br/>
        </div>
          <% if pin.user == current_user %>
            <div class="panel-footer">
              <%= link_to 'Show', pin  %> <br/>
              <%= link_to 'Edit', edit_pin_path(pin) %><br/>
              <%= link_to 'Destory', pin, method: :delete, data: {confirm: 'Are you sure?'}%><br/>
          </div>
        <% end %>
      </div>
    
    </div>  
  <% end %>
     
</div>
<div class="center">
  <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>
